.fi_pause-icon {
    background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 4H14V20H18V4Z' stroke='%237F868C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10 4H6V20H10V4Z' stroke='%237F868C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 0 0/contain no-repeat;
    display: inline-block;
    min-height: 1.5rem;
    min-width: 1.5rem;
}

.fi_play-icon {
    background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 3L22 12L8 21V3Z' stroke='%237F868C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 0 0/contain no-repeat;
    display: inline-block;
    min-height: 1.5rem;
    min-width: 1.5rem;
}
div {
    display: flex;
}
._q {
    align-items: center;
    gap: 0.75rem;
}
._w {
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}
._e {
    z-index: 0;
    grid-area: 1 / 1;
}
._r {
    z-index: 1;
    grid-area: 1 / 1;
}