div {
    display: flex;
}
._q {
    cursor: pointer;
    gap: 0.75rem;
}
._w {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}
    ._wp {
        width: 100%;
        font-size: 1rem;
        line-height: normal;
        word-break: break-word;
        overflow-wrap: break-word;
        hyphens: auto;
    }
._e {
    z-index: 0;
    grid-area: 1 / 1;
}
._r {
    z-index: 1;
    grid-area: 1 / 1;
}